body {

}

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 900px;
}

h1, h2, h3, a{
    font-family: 'Rokkitt', serif;
    letter-spacing: .13rem;
}

h1 {
  margin: 0;
}

/* Header */

.header {
  display: flex;
  margin-top: 1.5rem;
}

.header > img {
  margin: 0 auto;
  width: 10rem;
}

/* Navagation */

.nav {
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav li {
    display: inline-block;
    padding: 0 1rem;
}

.nav li a {
  text-decoration: none;
  color: black;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight:600;
}

.nav li a.active {
  border-bottom: 3px solid #FFCF00;
}

.nav li a:hover {
  border-bottom: 3px solid #FFCF00;
  color: #FFCF00;
}

/* Promo Section*/

.promo {
  display: flex;
  flex-direction: row;
  /* background-image: url("../img/bg.png"); */
  padding: 1rem;
}

.promo h1 {
  flex: 1;
  text-align: left;
  font-size: 5rem;
  color: red;
}

.promo-area {
  margin-top: 1rem;
  overflow: hidden;
  flex: 1;
}

.promo-area span {
  color: black;
}

.button {
  background-color: red;
  color: white;
  padding: .6rem .9rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin: .8rem 0 ;
  cursor: pointer;

}

.button:hover {
  background-color: black;
  color: white;
}

.promo-area img {
  width: 95%;
  text-align: right;
  border-radius: 5rem;
  border: .8rem solid white;
  transition: 0.5s all ease-in-out;
}
.promo-area img:hover {
  transform: scale(1.2);
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .promo {
    flex-direction: column;
  }
  .container {
    margin: 0 8%;
  }
}

/* Posts Section*/

.posts {
  display: flex;
  flex-wrap: wrap;
}

.posts > :first-child {
  flex-basis: 100%;
  margin: 10px;
  padding: 10px;
}

.posts .latest {
  text-align: center;
}

.latest {
  border-radius: 1rem;
}

.thin-line {
  display: block;
  border: 1px solid black;
  width: 100%;
  margin: -2.2rem 0 2rem;
}

.posts span {
    background-color: white;
    padding: .2rem .7rem;
}

.article {
  margin: 10px;
  flex: 1;
  text-align: center;
  align-content: center;
  border-radius: 2rem 3rem 0 0;
  box-shadow: 0 .3rem 1.2rem rgb(0 0 0 / 0.1);
}

.article > img {
  display: block;
  width: 100%;
  border-radius: 2rem;
}

.article-content {
  padding: 0 1rem;
  margin-top: -1.5rem;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .posts {
    flex-direction: column;
}
  .footer {
    flex-direction: column;
  }
  .article {
    padding: 3rem;
  }
}

.footer {
  display: flex;
}

.footer-area {
  text-align: center;
  margin: 10px;
  flex: 1;

}

.footer-area img {
  width: 130px;
  padding-top: .6rem;
}
