body {
  background-color: aliceblue;
}

.container {
  margin: 3% auto;
  max-width: 900px;
  text-align: center;
}

h1, h2, h3 {
    font-family: 'Rokkitt', serif;
}

span {
  background-color: aliceblue;
  padding: .2rem .7rem;
}

/* Header */

.header {
  display: flex;

  border: 1px solid #2196F3;
}

.header > img {
  margin: 0 auto;
  width: 140px;
}

/* Navagation */

.nav {
  border: 1px solid #2196F3;

}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    text-decoration: none;
    display: inline-block;
}


/* Promo Section*/

.promo {
  display: flex;
  flex-direction: row;
  border: 1px solid #2196F3;
}

.promo h1 {
  text-align: left;
  font-size: 4rem;
}

.promo-area {
  border: 1px solid #2196F3;
  margin: 10px;
  flex: 1;
}

.promo-area img {
  width: 100%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .promo {
    flex-direction: column;
  }
}

/* Posts Section*/

.posts {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #2196F3;
}

.posts > :first-child {
  flex-basis: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #2196F3;
}

.posts .latest {
  text-align: center;
}

.thin-line {
  display: block;
  border: 1px solid black;
  width: 80%;
  margin: -2.2rem 0 2rem 10%;
}

.article {
  margin: 10px;
  flex: 1;
  text-align: center;
  border: 1px solid #2196F3;
  align-content: center;
}

.article > img {
  display: block;
  width: 100%;
}

.article-content {
  padding: 0 1rem;
  margin-top: -1.5rem;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .posts {
    flex-direction: column;
}
  .footer {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  border: 1px solid #2196F3;
}

.footer-area {
  border: 1px solid #2196F3;
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;

}

.footer-area img {
  width: 130px;
}
