body {
  background-color: aliceblue;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

h1, h2, h3 {
    font-family: 'Rokkitt', serif;
}

h1 {
  margin: 0;
}

span {
  background-color: aliceblue;
  padding: .2rem .7rem;
}

/* Header */

.header {
  display: flex;

  /* border: 1px solid #2196F3; */
}

.header > img {
  margin: 0 auto;
  padding: 1rem;
  width: 140px;
}

/* Navagation */

.nav {
  /* border: 1px solid #2196F3; */
  padding: 1rem;
  text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav li {
    display: inline-block;
    padding: 0 1rem;
}

.nav li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.nav li a.active {
  border-bottom: 3px solid red;
}

.nav li a:hover {
  border-bottom: 3px solid red;
}

/* Promo Section*/

.promo {
  display: flex;
  flex-direction: row;
  border: 1px solid #2196F3;
  background-image: url("img/bg.png")
  padding: 2rem ;
}

.promo h1 {
  flex: 1;
  text-align: center;
  font-size: 4rem;
}

.promo-area {
  margin: 10px;
  flex: 1;
}

.promo-area span {
  color: red;
}

.button {
  background-color: red;
  color: white;
  padding: .9rem .9rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 1rem 0 ;
  cursor: pointer;

}

.promo-area img {
  width: 100%;
  border-radius: 1.5rem;
  box-shadow:
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .promo {
    flex-direction: column;
  }
}

/* Posts Section*/

.posts {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid #2196F3; */
}

.posts > :first-child {
  flex-basis: 100%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #2196F3;
}

.posts .latest {
  text-align: center;
}

.thin-line {
  display: block;
  border: 1px solid black;
  width: 80%;
  margin: -2.2rem 0 2rem 10%;
}

.article {
  margin: 10px;
  flex: 1;
  text-align: center;
  /* border: 1px solid #2196F3; */
  align-content: center;
}

.article > img {
  display: block;
  width: 100%;
}

.article-content {
  padding: 0 1rem;
  margin-top: -1.5rem;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .posts {
    flex-direction: column;
}
  .footer {
    flex-direction: column;
  }
}

.footer {
  display: flex;
  /* border: 1px solid #2196F3; */
  padding: 2rem;
}

.footer-area {
  /* border: 1px solid #2196F3; */
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex: 1;

}

.footer-area img {
  width: 130px;
  padding-top: .6rem;
}
