body {

}

.container {
  display: grid;
  margin: 0 auto;
  max-width: 900px;
  grid-template-areas: 'header header header'
                       'nav nav nav'
                       'promo promo promo'
                       'posts posts posts'
                       'footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* Header */

.header {
  grid-area: header;
}

/* Navagation */

.nav {
  grid-area: nav;
}

/* Promo Section*/

.promo {
  grid-area: promo;
  display: flex;
  flex-direction: row;
}

.promo-area {
  border: 1px solid #2196F3;
  margin: 10px;
  padding: 100px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .promo {
    flex-direction: column;
  }
}

/* Posts Section*/

.posts {
  grid-area: posts;
  display: flex;
  flex-direction: row;
}

.post {
  border: 1px solid #2196F3;
  margin: 10px;
  padding: 100px;
  flex: 33%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 750px) {
  .posts {
    flex-direction: column;
  }
}

.footer {
  grid-area: footer;
}

.footer-area {
  border: 1px solid #2196F3;
  margin: 10px;
  padding: 10px;
  display: inline-flex;
  flex-wrap: wrap;
}
